<!DOCTYPE html>
<html>
 <head>
  <title>Game Types</title>

 </head>
 <body>
 <div class="main_header">
    <div><header><a href="/" id="head">Gambler Tracker Database</a></header></div>
    <div class="menu">
      <button>Menu</button>
      <div class="menu_links">
          <a href="/">Index</a>
          <a href="/Dealers">Dealers</a>
              <a href="/Tables">Tables</a>
              <a href="/Games">Games</a>
              <a href="/Game_types">Game Types</a>
              <a href="/Supervisors">Supervisors</a>
              <a href="/Qualifications">Qualifications</a>
              <a href="/Game_search">Search Games</a>
              <a href="/edit_game_types">Edit Game Type</a>
              <a href="/Dealer_Search">Search Dealers</a>
              <a href="/Edit_Qualifications">Edit Qualifications</a>
              <a href="/Edit_Dealers">Edit Dealers</a>
              <a href="/Edit_Supervisors">Edit Supervisors</a>
      </div>
    </div>
   </div>


    <div class="table_container">
      <table id="table">
        <h2>Game Types:</h2>
          <thead>
            <tr>
              <th>Game ID</th>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody id="tableBody">
          </tbody>
            {{#each rows}}
            <tr>
              <td>{{game_type_ID}}</td>
              <td>{{name}}</td>
              <td>{{description}}</td>
              <td><a href="/Update_Game_Types/?game_type_ID={{game_type_ID}}" class ="button_link" id="update_link">Update</a></td>
              <td><button type="button" class="buttons" onclick="deleteButton({{game_type_ID}})">Delete</button></td>
            </tr>
            {{/each}}
        </table>
    </div>


  <script src="/scripts/edit_game_types.js"></script>
 </body>
</html>
